@font-face {
    font-family: "ponur";
    src: url("../../design/fonts/PPObjectSans-Heavy.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
  }

  .content {
    text-align: center !important;
    justify-content: center;
    font-family: ponur;
    max-width: 50vw;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;

    .content__main {
        font-size: 2vw;
        margin-top: 2vw;
    }

    .content__text {
        font-size: 1.5vw;
        text-align: center;
    }
}


.text-anim-explode {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.6s ease, transform 0.6s ease;

    &__char {
        opacity: 0;
        transform: translateY(80px) scale(0.8) rotate(-10deg);
        display: inline-block;
        transition: transform 0.6s ease, opacity 0.6s ease;
    }

    &--visible {
        opacity: 1;
        transform: translateY(0);

        .text-anim-explode__char {
            opacity: 1;
            transform: translateY(0) scale(1) rotate(0);
        }
    }
}


.text-anim-explode2 {
    opacity: 0;
    transform: translateY(-50px);
    transition: opacity 0.6s ease, transform 0.6s ease;

    &__char {
        opacity: 0;
        transform: translateY(-30px) scale(0.9);
        display: inline-block;
        transition: transform 0.6s ease, opacity 0.6s ease;
    }

    &--visible {
        opacity: 1;
        transform: translateY(0);

        .text-anim-explode2__char {
            opacity: 1;
            transform: translateY(0) scale(1);
        }
    }
}
